@model SiinGroupManageStudents.Models.Student

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.FullName);
}
<br />
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.FullName)</td>
                <td>@Html.DisplayFor(model => model.Email)</td>
                <td>@Html.DisplayFor(model => model.Status)</td>
            </tr>
        </tbody>
    </table>
    <hr />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Student
                </th>
                <th>
                    SubjectName
                </th>
                <th>
                    SubjectMark
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mark in Model.Marks)
            {
                <tr>
                    <td>@mark.StudentRollNumber</td>
                    <td>@mark.SubjectName</td>
                    <td>@mark.SubjectMark</td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <a asp-area="" asp-controller="Students" asp-action="Subject" asp-route-id="@Model.RollNumber" class="btn btn-success btn-block">
        New Subject
        <i class="mdi mdi-plus"></i>
    </a>
</div>
<br />